#main {
  padding:10px;
}

#you_are {
  padding: 10px;
}

#list_users {
  float:left;
  width:150px;
  border-right:1px solid black;
  height:300px;
  padding:10px;
  overflow:scroll-y;
}

#list_users {
  float:left;
  width:300px;
  height:300px;
  overflow:scroll-y;
  padding:10px;
  border-right:1px solid black;
}
